@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");

html {
  font-size: 80.5%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 20px 0;
}
.nav-title {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  border-bottom: 1px solid;
}
.card {
  transition: all 0.2s;
}
.card:hover {
  transform: scale(1.1);
}
.heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
