html{
  font-size: 80.5%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 1px solid black  
}
.nav-title{
  text-decoration: none;
  font-size: 2rem
}
.heading{
  text-align: center;
}
